<div class="w-screen max-w-screen h-screen mb-6. bg-slate-300 overflow-x-hidden">
    <div class="w-full h-full py-4. flex flex-col justify-start items-center">
        <a class="bg-white text-sm text-black px-2" routerLink="/">VOLVER</a>

        <table class="w-5/6 my-4 overflow-hidden">
            <thead class="sticky top-0 h-10 bg-slate-900 text-white text-center items-center">
                <tr>
                    <th colspan="5">VENTAS DE HOY</th>
                </tr>
                <tr class="">
                    <th class="w-fit">Fecha</th>
                    <th class="w-fit">Hora</th>
                    <th class="w-fit">Cliente</th>
                    <th class="w-fit">Total</th>
                    <th class="w-fit">Detalle</th>
                </tr>
            </thead>
            <tbody class="text-center items-center">
                @for (c of ventas; track c.id) {
                <tr class='bg-gray-200 border-b-1'>
                    <td class="py-1">{{c.fecha | date: 'dd/MM/yyyy'}}</td>
                    <td class="py-1">{{c.fecha | date: 'HH:mm'}}</td>
                    <td class="py-1">{{c.cliente}}</td>
                    <td class="py-1">{{c.total/100 | currency: ''}}</td>
                    <td class="flex flex-row justify-evenly content-center py-1">
                        <button (click)="verDetalle(c.id, c.total, c.fecha)" class="cursor-pointer hover:underline">
                            +
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <table class="w-5/6 mb-4 overflow-hidden">
            <thead class="sticky top-0 h-10 bg-slate-900 text-white text-center items-center">
                <tr>
                    <th colspan="6">HISTORIAL COMPLETO DE VENTAS</th>
                    <th>
                        <button class="cursor-pointer hover:underline" (click)="cargar()">CARGAR</button>

                    </th>
                </tr>
                <tr class="">
                    <th class="w-fit">Fecha</th>
                    <th class="w-fit">Hora</th>
                    <th class="w-fit">Cliente</th>
                    <th class="w-fit">Total</th>
                    <th class="w-fit">Pagado</th>
                    <th class="w-fit">Medio de pago</th>
                    <th class="w-fit">Detalle</th>
                </tr>
            </thead>
            <tbody class="text-center items-center">
                @for (c of historicoVentas; track c.id) {
                <tr class='bg-gray-200 border-b-1'>
                    <td class="py-1">{{c.fecha | date: 'dd/MM/yyyy'}}</td>
                    <td class="py-1">{{c.fecha | date: 'HH:mm'}}</td>
                    <td class="py-1">{{c.cliente}}</td>
                    <td class="py-1">{{c.total/100 | currency: ''}}</td>
                    <td class="py-1">{{c.pagado}}</td>
                    <td class="py-1">{{medio(c.mdp)}}</td>
                    <td class="flex flex-row justify-evenly content-center py-1">
                        <button (click)="verDetalle(c.id, c.total, c.fecha)" class="cursor-pointer hover:underline">
                            +
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
    @if(abierto) {
    <div class="w-full h-full fixed top-0 flex justify-center items-center bg-black/70">
        <table class="w-4/5">
            <thead class="bg-slate-900 text-white text-center items-center">
                <tr>
                    <th class="py-2" colspan="3">Detalle - {{fecha}}</th>
                    <th colspan="1"><button (click)="toggleVentana()" class="cursor-pointer">X</button></th>
                </tr>
                <tr>
                    <th class="text-bold">Codigo</th>
                    <th class="text-bold">Articulo</th>
                    <th class="text-bold">Cantidad</th>
                    <th class="text-bold">Total</th>
                </tr>
            </thead>
            <tbody class="text-center items-center">
                @for (d of detalles; track $index) {
                <tr class='bg-white'>
                    <td class="py-1">{{d.codigo}}</td>
                    <td>{{d.nombre}}</td>
                    <td>{{d.cantidad}}</td>
                    <td>{{d.total/100 | currency: ''}}</td>
                </tr>
                }
            </tbody>
            <tfoot>
                <th class="bg-slate-300 py-1" colspan="4">Total: {{total/100 | currency: ''}}</th>
            </tfoot>
        </table>
    </div>
    }
</div>